<manifest package="com.nicolasmilliard.socialcatsaws.imageupload"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
</manifest>